*{
    outline: 2px dotted red;
    margin: 0px;
    padding: 0px;
}

.container{
    background: linear-gradient(greenyellow, green);
    min-height: 1000px;
}

.header{
    background: linear-gradient(red,pink);
    /* text-align: center; */
}

    .header .power{
        display: inline-block;
        vertical-align: right;

    }

    .header .header_title{
        display: inline-block;
        color: white;
        vertical-align: top;
        text-align: center;
        /* vertical-align: center; */
        /* vertical-align: left; */
        /* vertical-align: center; */
    }

.nav_bar{
    background-color: aqua;
}

    .categories{
        text-align: center;
        width: auto;
    }

.second_bar{
    background-color: white;
    vertical-align: center;
}

    .second_bar img{
        width: 30%;
        display: inline-block;
        /* background-color: white; */
    }

    .second_bar p{
        vertical-align: top;
        display: inline-block;
    }

.about_me{
    background-color: blueviolet;
    min-height: 400px;
    background-size: 600px 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("file:///Users/j.1./Desktop/Coding%20Dojo%20files/taric.png");
}

.footer{ 
    background-color: white;
}