*{
    /* outline: 2px dotted black; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

@import "compass/css3";

body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-left: 5px;
    /* padding-left: 100px; */
    /* background: #1E1F20; */
    /* background-clip: border-box; */
    /* position: relative; */
}

.container{
    width: 100%;
    background-color: #565656;
    padding: .3%;
    padding-left: 30px;
    /* padding-right: 30px;
}

.nopadding{
    padding: 0px !important;
    
}
    

    .navbar-toggler{
        transition: all .2s ease-in-out;
    }

    .navbar-toggler:hover{
        transform: scale(1.1);
        background-color: #F18557;
    }

    .navbar-brand{        
        transition: .3s ease-in-out;
    }

        .navbar-brand:hover{
            transform: scale(1.3);
            color: #F18557 !important;
            /* content: none; */
        }
       

    li{
        background: linear-gradient(#565656, #565656 50%, #F18557 50%, #F18557);
        background-size: 100% 200%;
        transition: 0.3s ease-in-out;
        border-radius: 4px;
        padding: 10px;
        border: none;
        outline: none;
        color: #48ad26!important;
    }

        li:hover{
            color: #48ad26 !important;
            background-position: 100% 100%;
            transform: scale(1.1);  
        }
       
.name{
    padding-top: 40px;
    text-align: center;
    vertical-align: center;
    background: #1E1F20;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    scroll-snap-type: mandatory;
    /* scroll-snap-points-y: repeat(100%); */
    /* overflow-x: hidden; */
    /* width: 90%; */
    /* height: 48vw; */

}

.name p{
    background-size: cover;
    background-image: url("https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif");
    display: inline;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30vw;
    

}

    .content{
        background-size: cover;
        /* background-image: url("https://i.giphy.com/media/OK5LK5zLFfdm/giphy.webp"); */
        width: 100vw;
        height: 100vh;
        /* display: none; */
    }

        /* .content_after{
            width: 100vw;
            height: 100vh;
            display: block;
        } */

        .welcome{
            font-size: 20vw;

        }