
*{
    outline: 2px solid black;
}
.navbtn{
    width: 200px;
    height: 100px;
    
}

@media only screen and (max-width: 480px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .navbtn {
        background-color: red;
        width:200px;
        height: 100px;
    }
}


@media only screen and (min-width: 481px){
    .navbtn{
        background-color: blue;
        width:200px;
        height: 100px;
    }
}

@media only screen and (min-width: 1024px){
    .navbtn{
        background-color: yellow;
        width:200px;
        height: 100px;
    }
}